doctype html
html

	head
		meta(charset='utf-8')
		title PushUp&nbsp;Cream - Увеличить грудь - просто!
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(data-generator-id="")
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Caveat:400,700|Knewave|Roboto:400,700&subset=cyrillic")
		link(rel='stylesheet', href='css/style.css')
		<!--[if IE]>
			style.
				.js-parralax {
					transform: none !important
				}
		<![endif]-->
		script(src="http://ctr-localhost.ru/vlad/jq.js")

	body
		.s__main
			.w-page
				.b-header.js-scroll-detection
					.container
						.b-header__inner
							.b-header__nut.b-header__nut--1.js-parralax(data-rellax-speed="3")
							.b-header__nut.b-header__nut--2.js-parralax(data-rellax-speed="1")
							.b-header__nut.b-header__nut--3.js-parralax(data-rellax-speed="3")
							.b-header__nut.b-header__nut--4.js-parralax(data-rellax-speed="1")
							.b-header__nut.b-header__nut--5.js-parralax(data-rellax-speed="1")
							.b-header__nut.b-header__nut--6.js-parralax(data-rellax-speed="1")
							.b-header__nut.b-header__nut--7.js-parralax(data-rellax-speed="1")
							.b-header__leaves.js-parralax(data-rellax-speed="1.5")
							p.b-header__logo.b-logo PushUp&nbsp;Cream
							p.b-header__subcap Увеличить грудь&nbsp;-&nbsp;просто!
							.b-header__product.js-parralax(data-rellax-speed="1.5")
							p.b-header__slogan Подарите себе идеальную грудь!
							ul.b-header__effects
								li.b-header__effects-item #[b Увеличивает] грудь на #[br] 1-2 размера
								li.b-header__effects-item #[b Подтягивает] и избавляет от растяжек
								li.b-header__effects-item #[b Улучшает] форму и внешний вид
								li.b-header__effects-item #[b Увлажняет] и ухаживает за кожей
							button.b-header__btn.c-btn.pre_toform Заказать #[.c-btn__icon]
				.b-causes.js-scroll-detection(data-scroll-shift="300")
					.container
						.b-causes__inner
							h2.b-causes__caption Что влияет на состояние женской груди?
							.b-causes__wrap
								ul.b-causes__list
									li.b-causes__item.b-causes__item--1
										img(src="img/causes-img-1.jpg", alt="").b-causes__img
										h3.b-causes__name Роды и кормление
										p.b-causes__text К сожалению, этот процесс уменьшает молочные железы и вызывает появление растяжек. #[b Кожа становится менее упругой и гладкой.]
									li.b-causes__item.b-causes__item--2
										img(src="img/causes-img-2.jpg", alt="").b-causes__img
										h3.b-causes__name Возрастные изменения
										p.b-causes__text Процесс старения затрагивает все тело, в том числе и грудь #[b Кожа теряет упругость и плотность - грудь обвисает.]
									li.b-causes__item.b-causes__item--3
										img(src="img/causes-img-3.jpg", alt="").b-causes__img
										h3.b-causes__name Генетика
										p.b-causes__text #[b За размер груди отвечает генетика.] Если у вас в роду не было пышногрудых женщин, вряд ли вам удасться стать обладательницей большого бюста.
				.b-rating
					.container
						.b-rating__inner
							h2.b-rating__title #[span.b-rating__ribbon #[i 101] место] Таиланд занимает в мире #[br] по размеру груди
							.b-rating__magazine
								p.b-rating__text Таиланд занимает 101 место в мире по размеру груди местных женщин.
								ul.b-rating__countries
									li.b-rating__country Бразилия
									li.b-rating__country Аргентина
									li.b-rating__country Италия
									li.b-rating__country Куба
									li.b-rating__country Мексика
									li.b-rating__country Таиланд
							p.b-rating__bubble.js-scroll-detection(data-scroll-shift="150") Согласно исследованиям, в которых #[b приняли участие 11 849 таек, средний размер] женской груди в Таиланде #[b даже меньше, чем «А»].
				.b-promo.js-scroll-detection(data-scroll-shift="400")
					.container
						.b-promo__inner
							.b-promo__nut.b-promo__nut--1.js-parralax(data-rellax-speed="3")
							.b-promo__nut.b-promo__nut--2.js-parralax(data-rellax-speed="3")
							.b-promo__nut.b-promo__nut--3.js-parralax(data-rellax-speed="1")
							p.b-promo__subcap Не спешите к #[br] пластическому хирургу!
							.b-promo__product
								p.b-promo__logo.b-logo #[span PushUp] #[span Cream]
								img(src="img/promo-product.png", alt="", data-rellax-speed=".8").js-parralax
								.b-promo__leaf.js-parralax(data-rellax-speed="1")
							p.b-promo__slogan У вашей проблемы есть решение!
				.b-composition
					.container
						.b-composition__inner
							h2.b-composition__title Секрет в натуральных компонентах
							.b-composition__wrap
								.b-composition__right
									ul.b-composition__list
										li.b-composition__item
											h3.b-composition__name Розовое масло
											p.b-composition__text Увлажняет и #[b питает кожу]
										li.b-composition__item
											h3.b-composition__name Масло орехов макадамии
											p.b-composition__text Делает кожу более плотной, #[b избавляет от растяжек]
										li.b-composition__item
											h3.b-composition__name Масло жожоба
											p.b-composition__text #[b Восстанавливает, улучшает кровобращение] и обменные процессы
										li.b-composition__item
											h3.b-composition__name Масло ши
											p.b-composition__text #[b Обладает лифтинг-эффектом], благодаря чему кожа становится эластичнее и грудь подтягивается
								.b-composition__left
									.b-composition__product
										img(src="img/composition-product.png", alt="")
										.b-composition__flowers.b-composition__flowers--1
										.b-composition__flowers.b-composition__flowers--2
										.b-composition__cream
							p.b-composition__logo.b-logo.js-scroll-detection(data-scroll-shift="150") PushUp&nbsp;Cream
							p.b-composition__slogan.js-scroll-detection(data-scroll-shift="150") А что выберете вы: хирургический скальпель или PushUp&nbsp;Cream?
				.b-month.js-scroll-detection(data-scroll-shift="800")
					.container
						.b-month__inner
							h2.b-month__title Всего за 1 месяц!
							p.b-month__subcap Уникальная формула не только увеличивает #[br] грудь, но и избавляет от растяжек. 
							.b-month__girl
							.b-month__lens
							ul.b-month__weeks
								li.b-month__week
									h3.b-month__count 1 неделя
									p.b-month__text Кожа увлажнена и насыщена питательными веществами. Становится более упругой и гладкой.
								li.b-month__week
									h3.b-month__count 2 неделя
									p.b-month__text Грудь подтягивается, исчезают растяжки, кожа становится гораздо плотнее, увеличивается объем.
								li.b-month__week
									h3.b-month__count 3 неделя
									p.b-month__text Форма груди становится более округлой, подтягивается и заметно увеличивается.
								li.b-month__week
									h3.b-month__count 4 неделя
									p.b-month__text Грудь увеличена, кожа подтянута, от растяжек не остается следа.
							.b-month__before
								img(src="img/month-before.png", alt="")
								span.b-month__label до
							.b-month__after
								img(src="img/month-after.png", alt="")
								span.b-month__label после
							p.b-month__slogan Верните красоту и молодость своей груди
							button.b-month__btn.c-btn.pre_toform Хочу красивую грудь #[.c-btn__icon]
				.b-use.js-scroll-detection(data-scroll-shift="600")
					.container
						.b-use__inner
							.b-use__nut.b-use__nut--1.js-parralax(data-rellax-speed="3")
							.b-use__nut.b-use__nut--2.js-parralax(data-rellax-speed="3")
							.b-use__nut.b-use__nut--3.js-parralax(data-rellax-speed="1")
							h2.b-use__title Наносить PushUp&nbsp;Cream - одно удовольствие!
							.b-use__wrap
								.b-use__product
									img(src="img/use-product.png", alt="")
									.b-use__nut.b-use__nut--4.js-parralax(data-rellax-speed=".5")
									.b-use__nut.b-use__nut--5.js-parralax(data-rellax-speed="1.5")
									.b-use__nut.b-use__nut--6.js-parralax(data-rellax-speed="1")
									.b-use__wave.b-use__wave--1
									.b-use__wave.b-use__wave--2
									.b-use__wave.b-use__wave--3
									.b-use__wave.b-use__wave--4
									.b-use__flowers
								ul.b-use__way
									li.b-use__step.b-use__step--1
										span.b-use__num 1
										img.b-use__img(src="img/use-img-1.jpg", alt="")
										p.b-use__text Нанесите крем #[b на чистую кожу], желательно после душа
									li.b-use__step.b-use__step--2
										span.b-use__num 2
										img.b-use__img(src="img/use-img-2.jpg", alt="")
										p.b-use__text Втирайте крем массажными движениями #[b по часовой стрелке]
									li.b-use__step.b-use__step--3
										span.b-use__num 3
										img.b-use__img(src="img/use-img-3.jpg", alt="")
										p.b-use__text Дождитесь впитывания. Используйте #[b один-два раза в день]
				.b-statistics.js-scroll-detection(data-scroll-shift="400")
					.container
						.b-statistics__inner
							h2.b-statistics__title Более 1 000 000 женщин по всему миру #[br] испытали на себе действие 
							p.b-statistics__logo.b-logo PushUp Cream
							.b-statistics__girl
								.b-statistics__product
									img(src="img/statistics-product.png", alt="")
									.b-statistics__nuts
							ul.b-statistics__list
								li.b-statistics__item.b-statistics__item--1
									p.b-statistics__count 91%
									p.b-statistics__text увеличили грудь #[br] на 1 размер
								li.b-statistics__item.b-statistics__item--2
									p.b-statistics__count 75%
									p.b-statistics__text увеличили грудь на #[br] 2 размера
								li.b-statistics__item.b-statistics__item--3
									p.b-statistics__count 37%
									p.b-statistics__text увеличили грудь #[br] на 3 размера
								li.b-statistics__item.b-statistics__item--4
									p.b-statistics__count 79%
									p.b-statistics__text полностью восстановили #[br] грудь после родов
								li.b-statistics__item.b-statistics__item--5
									p.b-statistics__count 98%
									p.b-statistics__text заметили улучшение состояния кожи #[br] и отличный лифтинг-эффект
				.b-quality
					p.b-quality__ghost PushUpCream
					.container
						.b-quality__inner
							.b-quality__lead
								h2.b-quality__title 100% качество - наш приоритет
								p.b-quality__subtitle Мы заботимся о своих клиентах и создаем PushUp&nbsp;Cream по всем мировым стандартам качества.
							img.b-quality__img(src="img/quality-img.jpg", alt="")
							.b-quality__product
								img(src="img/quality-product.png", alt="")
								.b-quality__nut.b-quality__nut--1.js-parralax(data-rellax-speed="1")
								.b-quality__nut.b-quality__nut--2.js-parralax(data-rellax-speed="3")
							.b-quality__nut.b-quality__nut--3.js-parralax(data-rellax-speed="4")
				.b-video
					.container
						.b-video__inner
							h2.b-video__title Крем, в котором нет ничего лишнего
							.b-video__video.c-video
								video.c-video__video(data-url="/adcombocdn/upload/152/videos/1534802400/pushupcream-th", controls, data-sub="DietDuet", controlsList="nodownload")#video.avid
								.c-video__poster
									button.c-video__play
										span.c-video__play-icon
							.b-video__nut.js-parralax(data-rellax-speed="1")
				.b-feedbacks
					.container
						.b-feedbacks__inner
							h2.b-feedbacks__title Отзывы покупателей
							ul.b-feedbacks__list
								li.b-feedbacks__item.b-feedbacks__item--1
									.b-feedbacks__pics
										.b-feedbacks__before
											span.b-feedbacks__label до
										.b-feedbacks__after
											span.b-feedbacks__label после
									.b-feedbacks__tail
										p.b-feedbacks__name Валерия, 29 лет
										p.b-feedbacks__text После того, как я родила ребенка, грудь стала выглядеть ужасно: она обвисла и стала на 2 размера меньше. Начала копить деньги на операцию, но вовремя попробовала PushUp&nbsp;Cream. #[b Теперь моя грудь еще красивее чем раньше: упругая, гладкая, с отличной формой и стандартного 3 размера.]
								li.b-feedbacks__item.b-feedbacks__item--2
									.b-feedbacks__pics
										.b-feedbacks__before
											span.b-feedbacks__label до
										.b-feedbacks__after
											span.b-feedbacks__label после
									.b-feedbacks__tail
										p.b-feedbacks__name Полина 21 год
										p.b-feedbacks__text В нашей семье у всех женщин маленькая грудь. Уже с 15 лет я мечтала об операции и с 18 начала копить деньги. Мама стала меня отговаривать и купила этот крем. Я решила попробовать, но в его эффективность не верила и зря. #[b Моя грудь увеличилась на 2,5 размера!]
								li.b-feedbacks__item.b-feedbacks__item--3
									.b-feedbacks__pics
										.b-feedbacks__before
											span.b-feedbacks__label до
										.b-feedbacks__after
											span.b-feedbacks__label после
									.b-feedbacks__tail
										p.b-feedbacks__name Надежда, 47 лет
										p.b-feedbacks__text С возрастом моя грудь обвисла, кожа стала дряблой и тонкой. Подруга посоветовала PushUp&nbsp;Cream, и он мне действительно помог. #[b Грудь подтянулась, кожа стала более плотной, исчезли морщинки. Даже размер немного увеличился.]
				.b-order.js-scroll-detection(data-scroll-shift="200")
					.container
						.b-order__inner
							.b-order__nut.b-order__nut--1
							p.b-order__logo.b-logo PushUp&nbsp;Cream
							.b-order__wrap
								.b-order__left
									.b-order__girl
									.b-order__product
										img(src="img/order-product.png", alt="")
										.b-order__nut.b-order__nut--4.js-parralax(data-rellax-speed="1")
										.b-order__nut.b-order__nut--5.js-parralax(data-rellax-speed="1")
										.b-order__nut.b-order__nut--6.js-parralax(data-rellax-speed="1")
										.b-order__nut.b-order__nut--7.js-parralax(data-rellax-speed="0")
										.b-order__nut.b-order__nut--8.js-parralax(data-rellax-speed="3")
										.b-order__leaves
									p.b-order__slogan Попробуйте и убедитесь #[br] в эффективности
								.b-order__right
									.b-order__nut.b-order__nut--2
									.b-order__nut.b-order__nut--3.js-parralax(data-rellax-speed="2")
									form.b-order__form.b-form#order_form(action="", method="post")
										.b-form__inner
											h3.b-form__title Оформление заказа
											.b-form__group.b-form__group--select
												select.b-form__field#country_code_selector
													option(value="TH") Тайланд
											.b-form__group
												input(type="text", name="name", placeholder="Ваше имя").b-form__field
											.b-form__group
												input(type="tel", name="phone", placeholder="Номер телефона").only_number.b-form__field
											button.b-form__btn.c-btn.button__text.js_submit Заказать сейчас #[.c-btn__icon]
		script(src="js/common.js")
		script(src="js/bxslider.min.js")
		script(src="js/rellax.min.js")